<html>
    <body>
        <h1> this is home page.</h1>
        <h3> <%= 1+2 %></h3>
        <h3> <%= "apnacollege".toUpperCase() %></h3>
        <h3> <%= ["hello" ,"bonjour" ,"namaste" ,"123"][2] %></h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis quas facilis esse reiciendis suscipit, amet sit placeat nihil voluptas non in harum voluptatum molestiae architecto, ipsum deleniti officia nam eum?
        Doloremque quam sit aut, iure neque obcaecati omnis ut voluptatum officiis exercitationem nobis nemo voluptas beatae. Expedita voluptas et impedit ipsa? Ducimus consequatur deserunt excepturi ut eius eligendi molestiae repudiandae.</p>
        <button> click me!</button>
    </body>
</html>